In [2]:
import numpy as np
import pandas as pd
import datetime

In [29]:
df = pd.read_csv("B:\GroundwaterRech\GithubRepo\Restart\Dataset\District wise PET\District wise PET\Barnala.csv",
                   )

ParserError: Error tokenizing data. C error: Expected 3 fields in line 4, saw 7

In [12]:
df

      P1   P2   month
0    6.2  6.3  May-85
1    6.5  6.5  Jun-85
2    4.1  4.1  Jul-85
3    4.1  4.1  Aug-85
4    4.4  4.3  Sep-85
..   ...  ...     ...
829  0.0  0.0  Jun-54
830  0.0  0.0  Jul-54
831  0.0  0.0  Aug-54
832  0.0  0.0  Sep-54
833  0.0  0.0  Oct-54

[834 rows x 3 columns]

In [13]:
#only for P1
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P1'][i], df['P1'][i + 1], df['P1'][i + 2], df['P1'][i + 3], df['P1'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [20]:
# only for p2
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P2'][i], df['P2'][i + 1], df['P2'][i + 2], df['P2'][i + 3], df['P2'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [ ]:
#only P
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P'][i], df['P'][i + 1], df['P'][i + 2], df['P'][i + 3], df['P'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [21]:
df2 = pd.DataFrame()
df2['Month'] = m
df2['Precipitation'] = l

In [22]:
df2

      Month  Precipitation
0    Jun-85            6.5
1    Jul-85            4.1
2    Aug-85            4.1
3    Sep-85            4.3
4    Oct-85            3.1
..      ...            ...
175  Jun-20            0.0
176  Jul-20            0.0
177  Aug-20            0.0
178  Sep-20            0.0
179  Oct-20            0.0

[180 rows x 2 columns]

In [23]:
df3 = pd.DataFrame()

In [24]:
y = list(range(1986, 2021))
x = 0
l = []
for i in range(0, 176, 5):
    l.append(df2['Precipitation'][i] + df2['Precipitation'][i + 1] + df2['Precipitation'][i + 2] +
              df2['Precipitation'][i + 3] + df2['Precipitation'][i + 4])
    x = x + 1

In [25]:
df3['Precipitation']=l

In [27]:
df3

    Precipitation
0            22.1
1            22.5
2            23.3
3            21.6
4            22.1
5            21.3
6            22.6
7            21.6
8            22.3
9            20.7
10           21.9
11           20.8
12           20.8
13           21.8
14           22.4
15           21.5
16           21.7
17           21.8
18           20.8
19           21.9
20           22.0
21           21.2
22           21.8
23           20.5
24           22.3
25           19.8
26           21.0
27           20.8
28           21.0
29           21.5
30           20.6
31           20.7
32           21.0
33           19.9
34           20.9
35            0.0