# Preprocess Precipitaion

In [1]:
import numpy as np
import pandas as pd
import datetime

In [24]:
df = pd.read_excel("B:\GroundwaterRech\GithubRepo\Restart\Dataset\Precipitation\Precipitation\Barnala.xlsx",
                  sheet_name='Sheet1' )

In [25]:
df

         P                month
0      1.6  1985-05-01 00:00:00
1      5.1  1985-06-01 00:00:00
2      4.3  1985-07-01 00:00:00
3     10.9  1985-08-01 00:00:00
4     28.0  1985-09-01 00:00:00
...    ...                  ...
4316   0.0  2345-01-01 00:00:00
4317   0.0  2345-02-01 00:00:00
4318   0.0  2345-03-01 00:00:00
4319   0.0  2345-04-01 00:00:00
4320   0.0  2345-05-01 00:00:00

[4321 rows x 2 columns]

In [10]:
#only for P1
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P1'][i], df['P1'][i + 1], df['P1'][i + 2], df['P1'][i + 3], df['P1'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [26]:
# only for p2
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P2'][i], df['P2'][i + 1], df['P2'][i + 2], df['P2'][i + 3], df['P2'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

KeyError: 'P2'

In [27]:
#only P
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P'][i], df['P'][i + 1], df['P'][i + 2], df['P'][i + 3], df['P'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [28]:
df2 = pd.DataFrame()
df2['Month'] = m
df2['Precipitation'] = l

In [29]:
df2

         Month  Precipitation
0   1985-06-01            5.1
1   1985-07-01            4.3
2   1985-08-01           10.9
3   1985-09-01           28.0
4   1985-10-01           90.0
..         ...            ...
175 2020-06-01            3.4
176 2020-07-01            9.1
177 2020-08-01            5.7
178 2020-09-01           17.6
179 2020-10-01          158.7

[180 rows x 2 columns]

In [30]:
df3 = pd.DataFrame()

In [31]:
y = list(range(1986, 2021))
x = 0
l = []
for i in range(0, 176, 5):
    l.append((df2['Precipitation'][i] + df2['Precipitation'][i + 1] + df2['Precipitation'][i + 2] +
              df2['Precipitation'][i + 3] + df2['Precipitation'][i + 4]) / 5)
    x = x + 1

In [32]:
df3['Precipitation']=l

In [33]:
df3

    Precipitation
0           27.66
1           24.10
2           29.48
3           18.20
4           25.26
5           25.14
6           36.90
7           54.90
8           30.06
9           22.98
10          27.20
11          33.04
12          45.62
13          19.16
14          40.22
15          42.62
16          18.98
17          36.88
18          44.68
19          29.58
20          26.16
21          36.42
22          27.88
23          43.02
24          38.02
25          29.82
26          21.86
27          33.46
28          41.00
29          29.78
30          26.76
31          31.26
32          35.50
33          27.22
34          35.20
35          38.90