# Convert Temperature

In [42]:
import pandas as pd

In [50]:
l = ['AMRITSAR', 'HOSHIARPUR', 'JALANDHAR', 'TRAN TARAN', 'RUPNAGAR', 'SBS NAGAR', 'FAZILKA', 'MOGA', 'LUDHIANA',
     'SBS_NAGAR', 'FARIDKOT', 'FATEHGARH SAHIB', 'SH MUKTSAR SAHIB', 'SANGRUR', 'BARNALA', 'BATHINDA', 'PATIALA', ]

In [136]:
dfmax = pd.DataFrame(columns=[i for i in range(1986, 2020)])
dfmin = pd.DataFrame(columns=[i for i in range(1986, 2020)])
for i in l:
    df = pd.read_excel("C:\\Users\shash\Downloads\DISTRICTWISE TEMP(1).xlsx", sheet_name=i)
    df_max = df[['Unnamed: 0', 'TEMP_MAX', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
                 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
                 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
                 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
                 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
                 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
                 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                 'Unnamed: 34']]
    df_min = df[['Unnamed: 0', 'TEMP_MIN', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
                 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
                 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
                 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
                 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
                 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
                 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
                 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
                 'Unnamed: 67', 'Unnamed: 68']]
    df_max.columns = df_max.iloc[0]
    df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)

    df_min.columns = df_min.iloc[0]
    df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)

    df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
    df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
    dfmax.loc[len(dfmax)] = list(df2_max['Mean'].values)
    dfmin.loc[len(dfmax)] = list(df2_min['Mean'].values)

C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([0, 1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:29: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_min = pd.DataFrame(df_min.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_max = pd.DataFrame(df_max.mean(), columns=['Mean'])
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3788523461.py:24: SettingWithCopyWarning:

In [140]:
dfmax['District'] = l
dfmin['District'] = l

In [141]:
dfmax.to_excel('Max_temp.xlsx', index=False)
dfmin.to_excel('Min_temp.xlsx', index=False)

In [51]:
df = pd.read_excel("C:\\Users\shash\Downloads\DISTRICTWISE TEMP(1).xlsx", sheet_name='AMRITSAR')

In [52]:
df

,Unnamed: 0,TEMP_MAX,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,YEAR,1986.00,1987.00,1988.00,1989.00,1990.00,1991.00,1992.00,1993.00,1994.00,...,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00
1,JAN,22.55,25.63,26.16,22.70,27.34,29.18,24.37,25.53,26.54,...,3.24,0.65,2.05,-0.22,1.55,3.14,3.43,1.49,3.84,0.67
2,FEB,26.59,26.98,29.26,29.60,27.49,28.69,28.17,34.87,28.13,...,5.37,5.84,0.36,3.82,3.89,4.83,4.89,5.89,5.12,2.68
3,MAR,33.69,34.94,35.21,32.09,34.22,40.20,31.19,32.01,38.19,...,12.73,9.58,8.26,5.48,9.30,6.41,10.74,8.76,11.85,8.90
4,APR,43.23,43.76,44.19,39.65,40.78,41.87,41.14,45.31,42.23,...,18.83,15.32,18.11,14.97,14.31,15.35,17.72,13.34,14.98,14.26
5,MAY,45.84,43.98,50.14,47.20,47.94,45.21,46.07,48.86,46.94,...,23.44,23.55,19.46,20.31,20.89,20.10,23.43,22.01,23.46,21.72
6,JUN,50.71,48.46,47.98,46.57,48.36,47.71,47.60,48.80,49.37,...,24.59,24.30,28.34,24.69,27.56,26.36,27.97,25.78,25.78,27.15
7,JUL,43.01,47.83,45.73,47.01,44.28,47.38,45.77,46.26,43.05,...,25.26,26.66,28.19,26.80,27.97,25.71,25.63,26.26,25.40,25.48
8,AUG,38.23,46.06,39.54,40.51,42.67,43.40,40.87,41.55,41.16,...,23.77,23.98,26.22,23.71,25.27,25.28,24.00,24.53,25.10,23.19
9,SEP,39.72,42.65,41.57,41.07,37.91,40.96,38.44,39.30,37.73,...,19.32,20.96,18.88,21.04,19.73,19.07,22.95,19.18,19.68,21.25
10,OCT,36.58,39.65,32.61,39.69,34.61,35.41,35.83,38.20,35.63,...,13.60,14.26,13.14,15.52,13.77,14.48,14.41,15.11,14.58,15.53
11,NOV,32.54,33.02,30.34,32.49,31.40,32.33,31.08,34.08,30.84,...,8.87,9.13,6.76,8.75,8.09,10.03,10.34,8.83,9.45,9.99
12,DEC,26.14,26.87,26.32,26.52,26.20,27.87,26.26,29.77,27.15,...,3.30,5.35,4.58,3.02,3.13,3.87,6.52,3.70,1.13,1.29

In [57]:
df_max = df[['Unnamed: 0', 'TEMP_MAX', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
             'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
             'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
             'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
             'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
             'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
             'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
             'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
             'Unnamed: 34']]
df_min = df[['Unnamed: 0', 'TEMP_MIN', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
             'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
             'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
             'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
             'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
             'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
             'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
             'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
             'Unnamed: 67', 'Unnamed: 68']]

In [58]:
df_max.columns = df_max.iloc[0]
df_max.drop(0, axis=0, inplace=True)

df_min.columns = df_min.iloc[0]
df_min.drop(0, axis=0, inplace=True)

C:\Users\shash\AppData\Local\Temp\ipykernel_10472\1371601816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max.drop(0, axis=0, inplace=True)
C:\Users\shash\AppData\Local\Temp\ipykernel_10472\1371601816.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop(0, axis=0, inplace=True)

In [122]:
df1 = pd.DataFrame(columns=[i for i in range(1986, 2020)])

In [117]:
df1['District'] = l

In [118]:
df1

,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,District
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AMRITSAR
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HOSHIARPUR
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALANDHAR
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAN TARAN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUPNAGAR
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBS NAGAR
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FAZILKA
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOGA
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LUDHIANA
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBS_NAGAR
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FARIDKOT
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FATEHGARH SAHIB
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SH MUKTSAR SAHIB
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SANGRUR
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BARNALA
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATHINDA
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PATIALA

In [70]:
df_min.drop([1, 2, 3, 4, 5, 11, 12], axis=0, inplace=True)

C:\Users\shash\AppData\Local\Temp\ipykernel_10472\3981217857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_min.drop([1,2,3,4,5,11,12],axis=0,inplace=True)

In [73]:
df_min

,YEAR,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
6,JUN,23.02,26.59,28.08,24.76,27.40,25.27,24.20,25.12,26.43,...,24.59,24.30,28.34,24.69,27.56,26.36,27.97,25.78,25.78,27.15
7,JUL,26.37,27.24,26.11,24.37,27.67,28.24,27.12,22.79,25.31,...,25.26,26.66,28.19,26.80,27.97,25.71,25.63,26.26,25.40,25.48
8,AUG,23.54,26.37,23.23,23.82,24.67,25.72,24.67,24.98,25.95,...,23.77,23.98,26.22,23.71,25.27,25.28,24.00,24.53,25.10,23.19
9,SEP,20.80,22.68,19.73,20.73,21.04,17.39,18.48,21.55,17.05,...,19.32,20.96,18.88,21.04,19.73,19.07,22.95,19.18,19.68,21.25
10,OCT,14.01,12.59,13.08,14.94,12.30,15.07,14.58,13.50,14.57,...,13.60,14.26,13.14,15.52,13.77,14.48,14.41,15.11,14.58,15.53

In [99]:
df2 = pd.DataFrame(df_min.mean(), columns=['Mean'])

C:\Users\shash\AppData\Local\Temp\ipykernel_10472\1209707714.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2=pd.DataFrame(df_min.mean(),columns=['Mean'])

In [129]:
x = list(df2['Mean'].values)

In [133]:
df1

,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,21.548,23.094,22.046,21.724,22.616,22.338,21.81,21.588,21.862,21.774,...,21.308,22.032,22.954,22.352,22.86,22.18,22.992,22.172,22.108,22.52

In [132]:
df1.loc[len(df1)] = x

In [60]:
df_max

,YEAR,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
1,JAN,22.55,25.63,26.16,22.70,27.34,29.18,24.37,25.53,26.54,...,25.38,22.74,21.76,24.62,24.82,22.99,25.12,24.65,26.19,21.51
2,FEB,26.59,26.98,29.26,29.60,27.49,28.69,28.17,34.87,28.13,...,32.60,27.33,27.33,26.29,25.84,29.45,32.76,29.85,30.76,23.72
3,MAR,33.69,34.94,35.21,32.09,34.22,40.20,31.19,32.01,38.19,...,40.12,37.68,37.83,33.75,33.87,36.08,37.61,39.28,39.45,36.16
4,APR,43.23,43.76,44.19,39.65,40.78,41.87,41.14,45.31,42.23,...,44.99,42.40,39.27,39.13,42.19,40.20,43.37,45.65,44.37,41.86
5,MAY,45.84,43.98,50.14,47.20,47.94,45.21,46.07,48.86,46.94,...,49.15,47.08,47.38,48.53,45.76,44.97,48.01,45.59,46.52,47.45
6,JUN,50.71,48.46,47.98,46.57,48.36,47.71,47.60,48.80,49.37,...,48.44,44.91,47.61,48.12,47.60,45.62,46.58,48.76,46.50,48.12
7,JUL,43.01,47.83,45.73,47.01,44.28,47.38,45.77,46.26,43.05,...,44.30,42.60,48.34,42.90,44.62,44.04,42.04,41.87,40.98,46.09
8,AUG,38.23,46.06,39.54,40.51,42.67,43.40,40.87,41.55,41.16,...,37.24,41.55,43.10,36.79,41.51,39.71,37.97,39.16,39.21,36.36
9,SEP,39.72,42.65,41.57,41.07,37.91,40.96,38.44,39.30,37.73,...,35.73,34.30,39.41,35.79,34.68,39.49,37.71,38.39,37.78,38.98
10,OCT,36.58,39.65,32.61,39.69,34.61,35.41,35.83,38.20,35.63,...,34.87,35.01,36.63,35.55,32.83,36.76,37.74,38.26,33.71,33.11
11,NOV,32.54,33.02,30.34,32.49,31.40,32.33,31.08,34.08,30.84,...,30.58,31.30,30.86,29.31,29.62,29.80,31.56,29.53,28.01,30.58
12,DEC,26.14,26.87,26.32,26.52,26.20,27.87,26.26,29.77,27.15,...,24.53,26.99,28.75,27.12,27.02,26.75,28.13,26.86,25.85,24.22