# Convert Precipiation for excess water

In [6]:
import numpy as np
import pandas as pd
import datetime

In [28]:
df = pd.read_excel("B:\GroundwaterRech\GithubRepo\Restart\Dataset\Precipitation\Precipitation\Barnala.xlsx",
                  sheet_name='Sheet1' )

In [29]:
df

         P                month
0      1.6  1985-05-01 00:00:00
1      5.1  1985-06-01 00:00:00
2      4.3  1985-07-01 00:00:00
3     10.9  1985-08-01 00:00:00
4     28.0  1985-09-01 00:00:00
...    ...                  ...
4316   0.0  2345-01-01 00:00:00
4317   0.0  2345-02-01 00:00:00
4318   0.0  2345-03-01 00:00:00
4319   0.0  2345-04-01 00:00:00
4320   0.0  2345-05-01 00:00:00

[4321 rows x 2 columns]

In [14]:
#only for P1
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P1'][i], df['P1'][i + 1], df['P1'][i + 2], df['P1'][i + 3], df['P1'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [21]:
# only for p2
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P2'][i], df['P2'][i + 1], df['P2'][i + 2], df['P2'][i + 3], df['P2'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [30]:
#only P
l = []
m = []
i = 1
while i < 427:
    l.extend([df['P'][i], df['P'][i + 1], df['P'][i + 2], df['P'][i + 3], df['P'][i + 4]])
    m.extend([df['month'][i], df['month'][i + 1], df['month'][i + 2], df['month'][i + 3], df['month'][i + 4]])
    i = i + 12

In [31]:
df2 = pd.DataFrame()
df2['Month'] = m
df2['Precipitation'] = l

In [32]:
df2

         Month  Precipitation
0   1985-06-01            5.1
1   1985-07-01            4.3
2   1985-08-01           10.9
3   1985-09-01           28.0
4   1985-10-01           90.0
..         ...            ...
175 2020-06-01            3.4
176 2020-07-01            9.1
177 2020-08-01            5.7
178 2020-09-01           17.6
179 2020-10-01          158.7

[180 rows x 2 columns]

In [33]:
df3 = pd.DataFrame()

In [34]:
y = list(range(1986, 2021))
x = 0
l = []
for i in range(0, 176, 5):
    l.append(df2['Precipitation'][i] + df2['Precipitation'][i + 1] + df2['Precipitation'][i + 2] +
              df2['Precipitation'][i + 3] + df2['Precipitation'][i + 4])
    x = x + 1

In [35]:
df3['Precipitation']=l

In [36]:
df3

    Precipitation
0           138.3
1           120.5
2           147.4
3            91.0
4           126.3
5           125.7
6           184.5
7           274.5
8           150.3
9           114.9
10          136.0
11          165.2
12          228.1
13           95.8
14          201.1
15          213.1
16           94.9
17          184.4
18          223.4
19          147.9
20          130.8
21          182.1
22          139.4
23          215.1
24          190.1
25          149.1
26          109.3
27          167.3
28          205.0
29          148.9
30          133.8
31          156.3
32          177.5
33          136.1
34          176.0
35          194.5