In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
df=pd.read_excel("B:\GroundwaterRech\Final Excel Datasets\Final Excel Datasets\Rainfall_Punjab without districts\\1986.xlsx")

In [3]:
df

,OBJECTID *,Shape *,X,Y,1,2,3,4,5,6,...,356,357,358,359,360,361,362,363,364,365
0,1,Point,75.25,29.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Point,76.00,29.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Point,74.00,30.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Point,74.25,30.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Point,74.50,30.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,Point,75.00,32.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,Point,75.25,32.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,73,Point,75.50,32.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,74,Point,75.75,32.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,Point,75.50,32.25,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
leap_years=[1988,1992,1996,2000,2004,2008,2012,2016]
gf=pd.DataFrame()
for i in range(1986,2020):
  days=365
  if i in leap_years:
    days=366
  df=pd.read_excel("B:\GroundwaterRech\Final Excel Datasets\Final Excel Datasets\Rainfall_Punjab without districts\\"+str(i)+".xlsx") # importing datset
  
  test_date = datetime.datetime.strptime("01-01-"+str(i), "%d-%m-%Y")    # Date generation
  date_generated = pd.date_range(test_date, periods=days)
  Columns=list(df.columns[:4])
  Columns.extend(list(date_generated.strftime("%B")))
  # print(Columns)
  df.columns=Columns                #Renaming Columns

  df1=df.transpose()
  df1=df1.reset_index()
  df2=df1.drop(df.index[0:4],axis=0)
  df2=df2.groupby(df2['index']).mean()
  df3=df2.transpose()
  
  df3.drop(['April', 'December', 'February', 'January',
       'March', 'May', 'November'],inplace=True,axis=1)
  df3.columns=['August_'+str(i),'July_'+str(i),'June_'+str(i),'October_'+str(i),'September_'+str(i)]
  gf=pd.concat([gf,df3],axis=1)
  df3.to_excel('output_'+str(i)+".xlsx")

In [6]:
gf

,August_1986,July_1986,June_1986,October_1986,September_1986,August_1987,July_1987,June_1987,October_1987,September_1987,...,August_2018,July_2018,June_2018,October_2018,September_2018,August_2019,July_2019,June_2019,October_2019,September_2019
0,0.203412,0.251440,0.229097,0.013479,0.008707,0.018188,0.058768,0.455938,0.024074,0.000000,...,1.044206,2.362659,1.353080,0.000000,1.104036,1.031624,3.449959,0.785414,0.051734,0.131973
1,2.990822,5.463890,3.068461,0.092042,2.329605,1.313404,0.126901,1.158792,0.065124,0.000000,...,1.064870,4.476630,2.096648,0.000000,3.792548,2.730199,2.094702,0.558186,0.052906,1.070811
2,0.870924,4.135042,4.275149,0.000000,0.531249,1.246544,1.920444,0.317123,0.203081,0.443431,...,0.131323,1.964936,1.698773,0.311284,0.384850,0.850209,1.791089,0.536558,0.036972,0.449172
3,0.962646,3.591406,5.317869,0.000000,0.638478,0.651169,1.623306,0.802546,0.602049,0.345818,...,0.269782,2.553420,1.688844,0.150134,1.146986,0.831329,2.822213,0.751563,0.137803,0.146355
4,1.337076,3.013776,9.352163,0.044971,0.210380,0.389669,0.791049,1.805280,0.834389,0.216722,...,1.678976,2.527534,1.652392,0.000000,2.474822,0.973431,3.965198,0.556181,0.082826,0.036464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,5.166555,5.306421,2.651372,0.048915,1.344582,6.205111,2.612399,0.726624,2.309988,1.120715,...,5.451759,6.324701,2.211341,0.377294,10.456299,4.078076,3.934866,0.728282,0.346616,2.551651
71,8.508435,5.761795,2.991760,0.197556,0.815037,6.776989,3.132997,1.158718,2.602274,2.450321,...,8.660172,5.814552,2.533323,0.481064,12.007664,5.528861,5.152072,1.095911,0.206472,3.229341
72,10.248265,6.257312,3.019631,0.303399,0.945039,6.103414,3.038227,1.307031,2.204210,2.983822,...,7.742540,5.233192,3.222832,0.326193,10.817946,5.196711,5.162995,0.754729,0.343710,1.988962
73,10.252125,6.455371,4.424302,0.546769,0.948811,7.692004,5.578393,1.923573,1.922750,1.999218,...,20.223344,9.050203,5.044864,0.156491,12.175258,12.755270,13.850579,0.569107,0.426498,3.926616
74,7.123341,10.189782,1.617768,0.183922,0.926786,3.895360,3.325492,0.953190,1.180063,1.701256,...,16.921899,8.576183,5.051222,1.606253,11.267380,13.183286,11.681777,0.553387,0.158165,9.441587

In [20]:
gf=pd.read_excel("B:\GroundwaterRech\Rainfall1.xlsx")

In [31]:
gf

,August_1986,July_1986,June_1986,October_1986,September_1986,August_1987,July_1987,June_1987,October_1987,September_1987,...,August_2018,July_2018,June_2018,October_2018,September_2018,August_2019,July_2019,June_2019,October_2019,September_2019
0,2.659911,4.456076,3.727964,0.824894,3.426950,4.410431,0.846517,0.972908,1.849585,0.000000,...,0.986307,4.560506,2.073650,0.347830,6.875844,3.659099,5.994000,0.582380,0.306257,1.353071
1,3.902280,4.534496,2.320249,1.490410,2.940706,4.131530,1.060572,0.484526,1.816341,0.015764,...,7.472597,8.053643,2.906744,0.276783,9.585634,13.259906,8.501282,0.315660,0.224458,4.972050
2,4.475145,5.942981,2.653990,0.087823,3.208270,5.849954,1.757674,0.499196,1.961572,0.590485,...,1.450296,5.213764,2.766044,0.475440,8.924348,3.244717,6.406915,0.608223,0.270869,2.110724
3,4.730352,5.491628,2.174263,0.848604,2.491796,5.011621,1.662267,0.376255,1.684868,0.350164,...,1.966370,6.169707,2.941406,0.364122,9.496521,7.740416,6.634056,0.487570,0.235325,2.717962
4,4.954210,4.662692,2.130307,1.184896,2.369513,4.516135,1.614930,0.267252,1.223924,0.053842,...,3.359631,7.261928,4.189689,0.054668,12.204458,14.957551,8.135904,0.439665,0.164262,6.221113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,3.416143,3.646135,3.967176,0.399087,1.465375,1.774424,0.447002,2.154005,0.283043,0.000000,...,1.388497,7.945996,4.378918,0.000000,3.646806,3.288132,5.765584,1.017491,0.005562,1.445179
71,3.859663,1.751431,3.115397,0.446640,1.115832,1.627313,0.220211,1.705948,0.363667,0.000000,...,2.717189,6.862195,3.393701,0.033830,6.503594,6.455875,7.504949,0.869632,0.074488,3.087538
72,0.845562,1.358921,3.902412,0.652520,0.349158,0.906466,0.776496,2.507581,0.683618,0.000000,...,3.286305,4.793872,3.295513,0.000000,8.212548,4.034395,6.908857,1.851164,0.337052,0.884581
73,4.917675,2.260974,3.169384,0.865534,3.252027,1.190786,0.068044,0.704463,0.643235,0.000000,...,3.105711,5.156515,0.550448,0.000000,5.305318,1.825496,2.330568,1.015327,0.064138,0.142861
74,4.929562,2.810462,2.747389,0.493752,1.216430,1.378883,0.414584,0.678230,0.390950,0.000000,...,3.396217,5.337520,2.772603,0.005185,10.618946,8.851127,6.936213,1.477110,0.138663,2.802407

In [23]:
gf=gf.drop(['India_District_Boundary_Final', 'Unnamed: 1', 'X', 'Y', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],axis=1)

In [24]:
gf_c=list(gf.columns)

In [26]:
y=list(range(1986,2020))

In [27]:
data=pd.DataFrame(columns=y)

In [28]:
data

Empty DataFrame
Columns: [1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
Index: []

[0 rows x 34 columns]

In [29]:
x=0
for i in range(0,170,5):
  data[y[x]]=(gf[gf_c[i]]+gf[gf_c[i+1]]+gf[gf_c[i+2]]+gf[gf_c[i+3]]+gf[gf_c[i+4]])/5
  x=x+1

In [30]:
data

,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,3.019159,1.615888,5.046026,1.420803,3.893288,0.934839,1.391968,2.525712,1.984014,2.051980,...,2.095086,3.142479,7.031355,2.764780,1.338479,1.613258,2.319439,1.232562,2.968828,2.378961
1,3.037628,1.501746,5.050563,1.721599,4.384307,1.835701,1.826148,3.204357,2.118208,2.530974,...,2.307882,8.152468,7.031355,2.609928,1.731342,1.597616,5.205172,2.988332,5.659080,5.454671
2,3.273642,2.131776,6.181454,2.473160,5.554556,2.629742,3.208653,4.821271,3.623919,5.298278,...,2.564391,8.164322,7.031355,4.156112,2.627672,2.640818,2.625229,2.015519,3.765978,2.528290
3,3.147329,1.817035,5.493620,2.059674,5.338326,2.584628,2.905354,4.535786,3.330862,4.192266,...,2.455922,8.164323,7.031355,3.512533,2.118985,2.109323,2.807463,2.447259,4.187625,3.563066
4,3.060324,1.535217,6.472453,2.787510,4.618080,2.474916,2.279290,4.147715,3.163520,4.565943,...,3.377919,8.164323,7.031355,3.079125,2.382682,2.486619,3.435472,3.849991,5.414075,5.983699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2.578783,0.931695,5.667984,1.868151,3.702035,1.694343,1.512024,2.601659,2.642063,4.724678,...,3.911701,5.732613,4.521658,2.355946,1.472092,2.646987,2.588271,1.541599,3.472044,2.304390
71,2.057793,0.783428,9.384979,2.474117,3.841297,2.606422,2.035086,3.629173,4.922195,7.862705,...,3.833911,6.196519,4.268327,2.155196,1.249176,2.348102,1.931505,2.053247,3.902102,3.598497
72,1.421714,0.974832,4.942972,1.968523,3.816086,2.018219,0.962316,2.951972,3.043221,4.513208,...,3.315036,2.145806,3.582279,2.026664,1.072685,2.108584,1.439861,2.633899,3.917647,2.803210
73,2.893119,0.521306,7.202022,1.788883,2.560067,1.648217,0.526609,1.885438,2.775203,5.308686,...,2.847307,8.716989,5.287312,1.601281,0.679383,1.925395,1.502172,0.974408,2.823598,1.075678
74,2.439519,0.572530,10.087109,4.013214,5.688538,3.498468,3.471035,3.698848,2.881148,7.055901,...,2.623460,8.356781,5.177336,2.247484,1.471173,3.803743,1.859765,2.122264,4.426094,4.041104

In [32]:
data.to_excel('Rainfall_yearly.xlsx',index=False)