Convert Level to recharge

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel("B:\GroundwaterRech\GithubRepo\Restart\Dataset\Recharge_Blocks.xlsx",sheet_name='Before')

In [3]:
df

,DISTRICT,BLOCK,JUN86,OCT86,JUN87,OCT87,JUN88,OCT88,JUN89,OCT89,...,JUNE_2017,OCT_2017,JUNE_2018,OCT_2018,JUNE_2019,OCT_2019,Null,Unnamed: 71,Unnamed: 72,Unnamed: 73
0,PATIALA,SANAUR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,20.40,21.90,23.05,25.30,23.35,29.15,19,0.0,0.0,0.0
1,SANGRUR,LEHRA GAGA,5.15,4.55,4.60,5.70,5.95,2.75,4.25,4.80,...,33.25,33.90,34.40,35.15,35.45,36.70,19,NaN,NaN,NaN
2,AMRITSAR,HARSHA CHINA,7.83,6.61,7.96,7.03,8.37,4.53,8.51,7.95,...,14.70,15.70,14.70,14.90,15.20,15.20,18,NaN,NaN,NaN
3,BATHINDA,BHAGTA BHAI KE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,26.10,28.64,28.54,29.55,27.60,31.42,18,NaN,NaN,NaN
4,JALANDHAR,NURMAHAL,10.87,9.40,10.68,11.73,13.40,7.58,11.35,10.60,...,21.80,24.10,22.80,23.20,22.90,25.50,18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,ROPAR,NURPUR BEDI,3.00,1.80,2.74,2.75,3.60,0.55,2.82,1.85,...,16.60,17.50,17.60,17.40,16.00,16.10,0,NaN,NaN,NaN
114,ROPAR,ROPAR,2.02,0.89,2.40,1.99,3.05,0.38,1.80,0.93,...,7.30,6.60,6.90,5.00,6.45,4.80,0,NaN,NaN,NaN
115,SANGRUR,SANGRUR,4.30,4.08,4.77,5.25,5.96,2.03,4.23,5.10,...,37.05,37.95,40.05,41.00,40.25,41.55,0,NaN,NaN,NaN
116,SANGRUR,SUNAM,11.09,11.02,11.54,11.29,12.04,11.04,10.09,10.29,...,34.40,34.90,36.10,36.80,37.05,38.05,0,NaN,NaN,NaN
117,TARN TARAN,GANDIWIND,5.03,3.00,5.15,4.50,5.90,4.35,6.02,5.30,...,15.80,16.40,15.30,15.50,16.30,15.80,0,NaN,NaN,NaN

In [40]:
y=[i for i in range(1986,2020)]
df1=pd.DataFrame(columns=y)

In [41]:
c=list(df.columns[2:70])

In [42]:
print(c)

['JUN86', 'OCT86', 'JUN87', 'OCT87', 'JUN88', 'OCT88', 'JUN89', 'OCT89', 'JUN90', 'OCT90', 'JUN91', 'OCT91', 'JUN92', 'OCT92', 'JUN93', 'OCT93', 'JUN94', 'OCT94', 'JUN95', 'OCT95', 'JUN96', 'OCT96', 'JUN97', 'OCT97', 'JUNE_98', 'OCT_98', 'JUNE_99', 'OCT_99', 'JUNE_2K', 'OCT_2K', 'JUNE_01', 'OCT_01', 'JUNE_02', 'OCT_02', 'JUNE_03', 'OCT_03', 'JUNE_04', 'OCT_04', 'JUNE_05', 'OCT_05', 'JUNE_06', 'OCT_06', 'JUNE_07', 'OCT_07', 'JUNE_08', 'OCT_08', 'JUNE_09', 'OCT_09', 'JUNE_10', 'OCT_10', 'JUNE_11', 'OCT_11', 'JUNE_12', 'OCT_12', 'JUNE_13', 'OCT_13', 'JUNE_14', 'OCT_14', 'JUNE_2015', 'OCT_2015', 'JUNE_2016', 'OCT_2016', 'JUNE_2017', 'OCT_2017', 'JUNE_2018', 'OCT_2018', 'JUNE_2019', 'OCT_2019']

In [43]:
c1=list(df1.columns)
x=0
for i in range(0,len(c),2):
    df1[c1[x]]= df[c[i+1]] - df[c[i]]
    x=x+1

In [44]:
df1

,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0.00,0.00,0.00,0.00,0.00,0.10,0.06,-1.18,0.10,-1.92,...,15.00,-0.07,-15.90,0.00,0.00,0.95,0.20,1.50,2.25,5.80
1,-0.60,1.10,-3.20,0.55,-0.90,0.25,-0.35,-0.69,-0.45,-1.37,...,0.00,0.00,0.00,0.00,0.00,0.30,-0.10,0.65,0.75,1.25
2,-1.22,-0.93,-3.84,-0.56,-1.89,-0.48,-0.58,-1.06,-0.63,-0.93,...,0.00,0.00,0.00,0.00,0.00,-0.50,0.70,1.00,0.20,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.53,...,-0.05,1.05,1.50,-0.10,0.45,2.48,3.09,2.54,1.01,3.82
4,-1.47,1.05,-5.82,-0.75,-5.15,-0.40,-1.40,-0.88,-0.75,-3.25,...,-1.83,-2.50,1.05,0.00,0.00,1.20,3.40,2.30,0.40,2.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,-1.20,0.01,-3.05,-0.97,-1.33,-1.11,-1.08,-1.28,-2.07,-1.93,...,-2.30,-0.60,-1.20,-1.30,-0.45,1.38,0.90,0.90,-0.20,0.10
114,-1.13,-0.41,-2.67,-0.87,-1.98,-1.16,-1.11,-1.89,-1.92,-1.54,...,-3.40,-0.90,0.30,-1.70,-0.05,0.40,0.40,-0.70,-1.90,-1.65
115,-0.22,0.48,-3.93,0.87,-0.25,0.38,0.15,-0.15,0.14,-1.03,...,0.78,-0.25,-0.10,0.00,0.98,0.24,-0.05,0.90,0.95,1.30
116,-0.07,-0.25,-1.00,0.20,-0.35,-0.35,0.70,-0.20,-0.25,-0.80,...,-0.35,-0.18,0.57,-0.27,1.00,0.73,0.10,0.50,0.70,1.00
117,-2.03,-0.65,-1.55,-0.72,-1.22,-0.55,-0.74,-0.97,-1.95,-2.94,...,-0.25,-1.02,0.02,-1.10,-0.90,-0.90,0.00,0.60,0.20,-0.50

In [46]:
df1.to_excel('Output.xlsx',index=False)